* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--main-font);
  font-size: 1.8rem;
  background-color: var(--main-background-color);
}

ul, li, ol {
  list-style: none;
}

.buy--btn {
  border: none;
  width: 150px;
  height: 35px;
  margin: 10px;
  background-color: var(--soft-gray-color);
  font-family: var(--second-font);
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
}