* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--main-font);
  font-size: 1.8rem;
  background-color: var(--main-background-color);
}

ul, li, ol {
  list-style: none;
}