/* header {
  display: flex;
} */

.mobile__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.mobile__icons img {
  width: 25px;
  margin-right: 10px;
}

.playstation--logo {
  width: 50px;
  align-self: center;
}

.sign--in {
  width: 80px;
  height: 25px;
  /* padding: 10px; */
  border-radius: 50px;
  border: none;
  color: var(--ligth-gray-color);
  background-color: var(--hard-gray-color);
}
